---
---

@import url('https://fonts.googleapis.com/css?family=Share:400,400i,700');
@import 'variables';
@import 'mixins';
@import 'syntax-highlighting';

/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  width: 100%;
  -webkit-font-smoothing: antialiased;
}

body {
  color: $white;
  background-color: $black;
  font-family: 'Share', cursive;
  font-weight: 300;
  font-size: 0.75em;
}

.preventscroll{
  overflow:hidden;
}

a {
  color: $red;
  text-decoration: none;
  border: none;
  cursor: pointer;
}

a img {
  outline: none;
}

b{
  text-transform: uppercase;
  font-weight: bold;
}

a:hover {
  color: $black;
  border: none;
}

img{
  max-width: 100%;
  width:100%;
}

ul{
  font-size: 1.2em;
  float:left;
  list-style-type: none;
}

h1{
  font-size:0px;
}

main{
  max-width: 1280px;
  margin: 0 auto;
}

section{
  position: relative;
  height: auto;
  min-height: 100%;
  width: 100%;
  float: left;
  padding: 10% 20% 10% 10%;
  box-sizing: border-box;
  p{
    font-size:16px;
    padding: 10px;
    margin-bottom: 2%;
    line-height: 1.3;
    float:left;
    clear:both;
    b{
      text-transform: uppercase;
    }
  }
}

nav{
  width: 100%;
  position:fixed;
  height: 75px;
  z-index: 5;
  button{
    display:none;
  }
  ul{
    width: 440px;
    transition: .4s ease;
    box-sizing: border-box;
    position:relative;
    float:left;
    left:50%;
    transform: translateX(-50%);
    li{
      padding:30px 15px;
      float:left;
      text-transform: uppercase;
      font-size: 11px;
      letter-spacing: 1px;
      box-sizing: border-box;
    }
    .active{
      border-bottom: 1px solid white;
    }
    a{
      color: $white;
      padding-bottom: 7px;
      cursor:pointer;
      box-sizing: border-box;
      @include transition(.4s, ease);
      &:hover{
        color:#c1c1c1;
      }
    }
  }
}

.menubutton{
  display:none;
    border: none;
    color: white;
    font-size: 2em;
    padding: 16px;
    background-color: transparent;
    font-family: inherit;
    letter-spacing: 1px;
    transition: .4s ease;
    cursor: pointer;
    &:hover{
      transform: scale(1.2);
    }
}

.social_nav{
  position: fixed;
  top: 0;
  right: 0;
  z-index: 5;
  padding: 20px;
  width: 90px;
}

.video_container{
  video{
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
    background: url('{{ site.baseurl }}img/background.svg') no-repeat;
    background-size: cover;
    transition: 1s opacity;
  }
  .overlay{
      background-image: url(../img/noise2.png);
      position:fixed;
      width: 100%;
      height: 100%;
      left:0;
      right:0;
      top:0;
      bottom:0;
      image-rendering: pixelated;
      z-index: -1;
    }
}

#logo{
  width: 60%;
  position: relative;
  float: left;
  padding-bottom: 10%;
  padding: 10% 20% 0 0;
  margin-top: 20%;
  box-sizing: border-box;
  bottom: 0px;
}

#producer_list{
  float: left;
  padding-bottom: 10%;
  padding: 0;
  margin-top: 17%;
  width: 40%;
  box-sizing: border-box;
  li{
        float: right;
        clear: both;
        height: 50px;
        padding-bottom: 10%;
        margin-bottom: 2%;
        box-sizing: border-box;
        width: 100px;
        display: inline-block;
        background-repeat: no-repeat;
  }
}

.producer_horizontal_list{
  float: left;
  margin-top: 2%;
  padding: 0% 10% 3% 0;
  width: 100%;
  box-sizing: border-box;
  li{
    float: left;
    padding-bottom: 70px;
    box-sizing: border-box;
    width: 150px;
    display: inline-block;
    background-repeat: no-repeat;
    background-size: contain;
  }
}

.producer_reflekto{
  background-image: url(/img/productoras/reflekto.svg);
}
.producer_kaptura{
  background-image: url(/img/productoras/kaptura.svg);
}
.producer_bala{
  background-image: url(/img/productoras/bala.svg);
  margin-left:7px;
}
.producer_educadores{
  background-image: url(/img/productoras/educadores.svg);
    margin-left:7px;
}

.producer_reflekto_align{
  background-image: url(/img/productoras/reflekto.svg);
  margin-right: 7px;
}
.producer_kaptura_align{
  background-image: url(/img/productoras/kaptura.svg);
      margin-right: 7px;
}
.producer_bala_align{
  background-image: url(/img/productoras/bala.svg);
  margin-right: 3px;
}
.producer_educadores_align{
  background-image: url(/img/productoras/educadores.svg);
}

h2{
  background-color: $red;
  clear:both;
  float:left;
  background-image: url(../img/noise2.png);
  text-transform: uppercase;
  color: $black;
  font-weight: bold;
  padding: 2px 8px 0px 9px;
  font-size: 3em;
  display:inline-block;
}

h3{
  background-color: $white;
  clear:both;
  float:left;
  background-image: url(../img/noise2.png);
  text-transform: uppercase;
  color: $black;
  font-weight: bold;
  padding: 2px 7px 0px 8px;
  font-size: 2em;
  display:inline-block;
}

.trailer-container{
  width: 100%;
  height: 0;
  margin-top: 2%;
  float:left;
  clear:both;
  padding-bottom: 56.2%;
  display: block;
  position: relative;

  iframe{
    width:100%;
    height:100%;
    position:absolute;
  }
}

.still{
  width: 100%;
  float: left;
}

.director_image{
  width: 135px;
  float: left;
  clear:both;
  border-radius: 50% 50%;
  margin: 5%;
  filter: grayscale(100%);
  box-sizing: border-box;
  transition: .4s ease;
  &:hover{
    filter: grayscale(0%);
  }
}

.corto{
  float:left;
  margin-top: 10%;
  &:first-child{
    margin-top: 0;
  }
}

.corto-half{
  width:70%;
  float:left;
  padding: 2%;
  box-sizing: border-box;
}
.director-card{
  width:30%;
  float:left;
  padding-top: 2%;
  box-sizing: border-box;
  p{
    a{
      background-color:$black;
      color: $white;
      padding: 0 2px;
      cursor:pointer;
      &:hover{
        color:$red;
      }
    }
  }
}

.director_social{
  float:left;
  clear:both;
  padding-top: 13px;
}

.productoras_logo{
  height: 180px;
  width: auto;
  float: left;
  clear: both;
  box-sizing: border-box;
  padding-top: 2%;
}

.productora{
  float:left;
  clear:both;
  margin-top:10%;
  &:first-child{
    margin-top:0;
  }
}

span{
  color:white;
  float:left;
  clear:both;
  margin-top:10.5px;
  background-color: $red;
  padding: 5px 9px;
  font-size: 1.1em;
  transition: .4s ease;
  &:hover{
    background-color: $black;
  }
}

.leermas{
  background-color:$red;
  color:$black;
  padding: 1px 5px;
  transition: .4s ease;
  &:hover{
    background-color:$white;
  }
}


footer{
  width: 80%;
  float: left;
  padding: 5% 5% 2% 5%;
  margin: 0 10%;
  box-sizing: border-box;
  border-top: 1px solid #ffffff;
}

form{
  float:left;
  margin-top: 1%;
  clear:both;
  width:50%;
}

input,textarea{
  padding: 2%;
  width:100%;
  font-family: inherit;
  float: left;
  margin: 2% 0%;
  clear:both;
  font-size: 1.3em;
  border: 1px solid rgba(255, 255, 255, 1);
  background-color: rgba(255, 255, 255, 0);
  color:$white;
  box-sizing: border-box;
  outline: none;
  text-transform: uppercase;
  transition: .4s ease;
  &::placeholder{
    color:$white;
  }
  &:focus{
    outline: none;
    background-color:$black;
    box-shadow: 0 0 5px rgba(200, 50, 34, 1);
    border: 1px solid rgba(200, 50, 34, 1);
  }
}

h4{
  background-color: $white;
  clear:both;
  float:left;
  background-image: url(../img/noise2.png);
  text-transform: uppercase;
  color: $black;
  font-weight: bold;
  padding: 2px 7px 0px 8px;
  font-size: 2em;
  display:inline-block;
}

input[type="submit"]{
  background-color:transparent;
  border: 1px solid rgba(255, 255, 255, 1);
  font-family: inherit;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 2em;
  cursor: pointer;
  &:hover{
    background-color:$black;
    color:$white;
  }
}

.redfooter{
  width:50%;
  float:left;
  padding: 0% 9% 0% 22%;
  box-sizing: border-box;
}

.colophon{
  float:left;
  width:100%;
  text-align: center;
  margin-top: 5%;
  a{
    background-color:$black;
    transition: .4s ease;
    padding:1px 4px;
    cursor:pointer;
    &:hover{
      background-color:$white;
    }
  }
}

.social-link{
  float:left;
  padding-left: 10px;
  padding-bottom: 2%;
  margin-top: -10px;
  background-color: transparent;
  transition: .4s ease;
  cursor:pointer !important;
  &:hover{
    transform: scale(1.2);
    cursor:pointer;
  }
  svg{
    width:100%;
    cursor:pointer;
    g{
      cursor:pointer;
    }
    path{
      fill:white;
      cursor:pointer;
    }
    circle{
      fill:white;
      cursor:pointer;
    }
  }
}
.facebook{
  width: 13px;
  margin-top: -6px;
}
.instagram{
  width: 32px;
  margin-top: -9px;
  padding-left: 12px;
}
.imdb{
  width: 50px;
  margin-top: -4px;
  padding-left: 13px;
}
.twitter{
  width:35px;
}

.seamless{
  color: $white;
  &:hover{
    background-color:$red;
  }
}

@import 'responsive';
