---
---

@import url('https://fonts.googleapis.com/css?family=Share:400,400i,700');
@import 'variables';
@import 'mixins';
@import 'syntax-highlighting';

/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  width: 100%;
  -webkit-font-smoothing: antialiased;
}

body {
  color: $white;
  background-color: $black;
  font-family: 'Share', cursive;
  font-weight: 300;
  font-size: 0.75em;
}

.preventscroll{
  overflow:hidden;
}

a {
  color: $red;
  text-decoration: none;
  border: none;
  cursor: pointer;
}

a img {
  outline: none;
}

b{
  text-transform: uppercase;
  font-weight: bold;
}

a:hover {
  color: $black;
  border: none;
}

img{
  max-width: 100%;
  width:100%;
}

ul{
  font-size: 1.2em;
  float:left;
  list-style-type: none;
}

h1{
  font-size:0px;
}

main{
  max-width: 1280px;
  margin: 0 auto;
}

section{
  position: relative;
  height: auto;
  min-height: 100%;
  width: 100%;
  float: left;
  padding: 10% 20% 10% 10%;
  box-sizing: border-box;
  p{
    font-size:16px;
    padding: 10px;
    margin-bottom: 2%;
    line-height: 1.3;
    float:left;
    clear:both;
    b{
      text-transform: uppercase;
    }
  }
}

#landing{
  position: relative;
    min-height: 100vh;
    float: left;
    padding: 10% 15% 15% 5%;
    display: grid;
    box-sizing: border-box;
    grid-template-columns: 7fr 1fr;
    align-items: flex-end;
    grid-gap: 20px;
}
nav{
  width: 100%;
  position:fixed;
  height: 75px;
  z-index: 5;
  button{
    display:none;
  }
  ul{
    width: 440px;
    transition: .4s ease;
    box-sizing: border-box;
    position:relative;
    float:left;
    left:50%;
    transform: translateX(-50%);
    li{
      padding:30px 15px;
      float:left;
      text-transform: uppercase;
      font-size: 11px;
      letter-spacing: 1px;
      box-sizing: border-box;
    }
    .active{
      border-bottom: 1px solid white;
    }
    a{
      color: $white;
      padding-bottom: 7px;
      cursor:pointer;
      box-sizing: border-box;
      @include transition(.4s, ease);
      &:hover{
        color:#c1c1c1;
      }
    }
  }
}

.menubutton{
  display:none;
    border: none;
    color: white;
    font-size: 2em;
    padding: 16px;
    background-color: transparent;
    font-family: inherit;
    letter-spacing: 1px;
    transition: .4s ease;
    cursor: pointer;
    &:hover{
      transform: scale(1.2);
    }
}

.social_nav{
  position: fixed;
  top: 0;
  right: 0;
  z-index: 5;
  padding: 20px;
  width: 130px;
}

.video_container{
  video{
    position: fixed;
    background-color:black;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
    background-size: cover;
    transition: 1s opacity;
  }
  .overlay{
      background-image: url(../img/noise2.png);
      animation: rotation 200ms infinite steps(4);
      position:fixed;
      left: -100%;
      right: -100%;
      top: -100%;
      bottom: -100%;
      image-rendering: pixelated;
      z-index: -1;
    }
}

#logo{
  width: 50%;
  position: relative;
  box-sizing: border-box;
}

#producer_list{
  float: left;
  padding-bottom: 10%;
  padding: 0;
  margin-top: 5%;
  width: 40%;
  box-sizing: border-box;
  li{
    float: right;
    clear: both;
    height: 75px;
    margin-bottom: -5px;
    box-sizing: border-box;
    max-width: 70px;
    width: 100%;
    display: inline-block;
    background-repeat: no-repeat;
  }
}

.producer_horizontal_list{
  float: left;
  margin-top: 2%;
  padding: 0% 10% 3% 0;
  width: 100%;
  box-sizing: border-box;
  li{
    float: left;
    padding-bottom: 70px;
    box-sizing: border-box;
    width: 150px;
    display: inline-block;
    background-repeat: no-repeat;
    background-size: contain;
  }
}
#festival_list{
  float: left;
  padding-bottom: 10%;
  padding: 0;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-items: center;
  grid-gap: 15px;
    li{
      height: 75px;
      box-sizing: border-box;
      width: 80px;
      display: flex;
      background-repeat: no-repeat;
      background-position: 0;
      background-size: cover;
    }
}
.producer_reflekto{
  background-image: url(/img/productoras/reflekto.svg);
}
.producer_kaptura{
  background-image: url(/img/productoras/kap.svg);
}
.producer_bala{
  background-image: url(/img/productoras/bala.svg);
  margin-left:7px;
}
.producer_educadores{
  background-image: url(/img/productoras/educadores.svg);
    margin-left:7px;
}

.producer_reflekto_align{
  background-image: url(/img/productoras/reflekto.svg);
  margin-right: 7px;
}
.producer_kaptura_align{
  background-image: url(/img/productoras/kaptura.svg);
      margin-right: 7px;
}
.producer_bala_align{
  background-image: url(/img/productoras/bala.svg);
  margin-right: 3px;
}
.producer_educadores_align{
  background-image: url(/img/productoras/educadores.svg);
}

//LAURELES

.laurel_houston{
  background-image: url(/img/laureles/houston.svg);
  width: 130px !important;
  height: 91px !important;
}
.laurel_houston2{
  background-image: url(/img/laureles/houston2.svg);
  width: 130px !important;
  height: 91px !important;
}
.laurel_banaba{
  background-image: url(/img/laureles/banaba.svg);
  width: 130px !important;
  height: 63px !important;
  background-position: 50% -46px !important;
}
.laurel_fcm{
  background-image: url(/img/laureles/fcm.svg);
  width: 130px !important;
  height: 60px !important;
  background-position: 50% -48px !important;
}

.laurel_morelia{
  background-image: url(/img/laureles/morelia.svg);
  height: 45px !important;
  background-position: 0 -26px !important;
}
.laurel_londres{
  background-image: url(/img/laureles/londres.svg);
  height: 58px !important;
}
.laurel_asiamadrid{
  background-image: url(/img/laureles/asiamadrid.svg);
  height: 58px !important;
}
.laurel_amsterdam{
  background-image: url(/img/laureles/amsterdam.svg);
  height: 58px !important;
}

.laurel_16kms{
  background-image: url(/img/laureles/16kms.svg);
  height: 43px !important;
  background-position: 50% -26px !important;
}
.laurel_ibiza{
  background-image: url(/img/laureles/ibiza.svg);
  height: 54px !important;
}
.laurel_guadalajara{
  background-image: url(/img/laureles/guadalajara.svg);
  height: 45px !important;
}
.laurel_paris{
  background-image: url(/img/laureles/paris.svg);
  height: 52px !important;
}
.laurel_ficautor{
  background-image: url(/img/laureles/ficautor.png);
  height: 44px !important;
  width: 92px !important;
}


//FIN LAURELES

h2{
  background-color: $red;
  clear:both;
  float:left;
  background-image: url(../img/noise2.png);
  text-transform: uppercase;
  color: $black;
  font-weight: bold;
  padding: 2px 8px 0px 9px;
  font-size: 3em;
  display:inline-block;
}

h3{
  background-color: $black;
  clear:both;
  float:left;
  background-image: url(../img/noise2.png);
  text-transform: uppercase;
  color: $white;
  font-weight: bold;
  padding: 2px 7px 0px 8px;
  font-size: 2em;
  display:inline-block;
  &.reversed{
    color:$black;
    background-color:$white;
  }
}

.trailer-container{
  width: 100%;
  height: 0;
  margin-top: 2%;
  float:left;
  clear:both;
  padding-bottom: 56.2%;
  display: block;
  position: relative;

  iframe{
    width:100%;
    height:100%;
    position:absolute;
    background-color:black;
  }
}

.still{
  width: 100%;
  float: left;
}

.director_image{
  width: 135px;
  float: left;
  clear:both;
  border-radius: 50% 50%;
  margin: 5%;
  filter: grayscale(100%);
  box-sizing: border-box;
  transition: .4s ease;
  &:hover{
    filter: grayscale(0%);
  }
}

.corto{
  float:left;
  margin-top: 10%;
  &:first-child{
    margin-top: 0;
  }
  .trailer-container{
    padding-bottom: 54.2%;
  }
}

.corto-half{
  width:70%;
  float:left;
  padding: 2%;
  box-sizing: border-box;
}
.director-card{
  width:30%;
  float:left;
  padding-top: 2%;
  box-sizing: border-box;
  p{
    a{
      background-color:$black;
      color: $white;
      padding: 0 2px;
      cursor:pointer;
      &:hover{
        color:$red;
      }
    }
  }
}

.director_social{
  float:left;
  clear:both;
  padding-top: 13px;
}

.productoras_logo{
  height: 100px;
  width: auto;
  float: left;
  clear: both;
  box-sizing: content-box;
  padding: 3% 0;
}

.productora{
  float:left;
  clear:both;
  margin-top:10%;
  &:first-child{
    margin-top:0;
  }
}

span{
  color:white;
  float:left;
  clear:both;
  margin-top:10.5px;
  background-color: $red;
  padding: 5px 9px;
  font-size: 1.1em;
  transition: .4s ease;
  &:hover{
    background-color: $black;
  }
}

.leermas{
  background-color:$red;
  color:$black;
  padding: 1px 5px;
  transition: .4s ease;
  &:hover{
    background-color:$white;
  }
}


footer{
  width: 80%;
  float: left;
  padding: 5% 5% 2% 5%;
  margin: 0 10%;
  box-sizing: border-box;
  border-top: 1px solid #ffffff;
  h4{
    background-color: $red;
  }
}

form{
  float:left;
  margin-top: 1%;
  clear:both;
  width:50% !important;
}

input, textarea{
  padding: 2%;
  width:100%;
  font-family: inherit;
  float: left;
  margin: 2% 0%;
  clear:both;
  font-size: 1.3em;
  border: 1px solid transparent;
  border-bottom-color: $white;
  background-color: rgba(255, 255, 255, 0);
  color:$white;
  box-sizing: border-box;
  outline: none;
  text-transform: uppercase;
  transition: .3s ease;
  &::placeholder{
    color:$white;
  }
  &:focus{
    outline: none;
    background-color:$black !important;
    box-shadow: 0 0 5px rgba(200, 50, 34, 1);
    border: 1px solid rgba(200, 50, 34, 1);
  }
}

h4{
  background-color: $white;
  clear:both;
  float:left;
  background-image: url(../img/noise2.png);
  text-transform: uppercase;
  color: $black;
  font-weight: bold;
  padding: 2px 7px 0px 8px;
  font-size: 2em;
  display:inline-block;
}

input[type="submit"]{
  border: 1px solid rgba(255, 255, 255, 1);
  border-width: 0px;
  background-color:$black;
  color:$white;
  font-family: inherit;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 2em;
  text-align: left;
  width: auto;
  padding: 3px 6px;
  cursor: pointer;
  &:hover{
    background-color: $white;
    color:$black;
  }
}

.redfooter{
  width:50%;
  float:left;
  padding: 0% 9% 0% 22%;
  box-sizing: border-box;
}

.colophon{
  float:left;
  width:100%;
  text-align: center;
  margin-top: 5%;
  a{
    background-color:$black;
    transition: .4s ease;
    padding:1px 4px;
    cursor:pointer;
    &:hover{
      background-color:$white;
    }
  }
}

.social-link{
  float:left;
  padding-left: 10px;
  padding-bottom: 2%;
  margin-top: -10px;
  background-color: transparent;
  transition: .4s ease;
  cursor:pointer !important;
  &:hover{
    transform: scale(1.2);
    cursor:pointer;
  }
  svg{
    width:100%;
    cursor:pointer;
    g{
      cursor:pointer;
    }
    path{
      fill:white;
      cursor:pointer;
    }
    circle{
      fill:white;
      cursor:pointer;
    }
  }
}
.facebook{
  width: 13px;
  margin-top: -6px;
}
.instagram{
  width: 32px;
  margin-top: -9px;
  padding-left: 12px;
}
.imdb{
  width: 50px;
  margin-top: -4px;
  padding-left: 13px;
}
.twitter{
  width:35px;
}

.presskit{
  color: white;
  padding: 10px 0px 2px 0px;
  font-weight: bold;
  border-bottom: 2px solid white;
  font-size: 1.4em;
  margin-left: 15px;
  margin-top: -14px;
}

.seamless{
  color: $white;
  &:hover{
    background-color:$red;
  }
}

.producer_card{
  float:left;
  clear:both;
  padding-bottom: 2%;
  .social_block{
    float:left;
    clear:both;
  }
  ul{
    margin-top:0;
    li{
      max-width: 130px;
      height: 60px;
      padding: 0;
    }
  }
  .director_image{
    width: 70px;
    margin: -5px 10px 15px 10px;
  }
  p{
    margin-bottom: 0;
  }
  h5{
    display: inline-block;
    background-color: black;
    padding: 2px 8px;
    font-size: 16px;
    font-weight: 100;
  }
}

.presskitButton{
  float: left;
      position: relative;
      background-color: #c83222;
      color: white;
      padding: 2px 7px 0px 8px;
      margin-right: 10px;
      text-transform: uppercase;
      font-weight: bold;
}

@keyframes rotation {
  from {
      -webkit-transform: rotate(0deg);
  }
  to {
      -webkit-transform: rotate(360deg);
  }
}

@import 'responsive';
