html{
  font-family: 'Share', cursive;
  background-color:black;
  color:white;
}


h1{
  position:absolute;
  left: -99999px;
}

img{
  width: 80%;
  margin: 10%;
  float: left;
}

footer img{
  margin-bottom: 2%;
}

a{
  color: white;
  text-align: center;
  float: left;
  width: 285px;
  position: relative;
  left:50%;
  transform: translateX(-50%);
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.4em;
  padding-bottom: 4px;
  letter-spacing: 1px;
  border-bottom: 2px solid;
}
a:hover{
  color:#d83116;
  cursor:pointer;
}

iframe{
  margin-top: 10%;
  float: left;
  position: relative;
}
