<!DOCTYPE html>
<html>
  <head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, user-scalable=yes, initial-scale=1">
  <meta name="author" content="Rodrigo Salmerón">
  <title>{% if page.title %}La Danza de las Fieras | {{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta name="description" content="Seis historias. Seis directores. La Danza de las Fieras es una película que aborda diferentes caras de la trata de personas.">

  <meta property="og:url" content="http://ladanzadelasfieras.com/">
  <meta property="og:site_name" content="La Danza de las Fieras" />
  <meta property="og:type" content="website">
  <meta property="og:title" content="La Danza de las Fieras">
  <meta property="og:description" content="Seis historias. Seis directores. La Danza de las Fieras es una película que aborda diferentes caras de la trata de personas.">
  <meta property="og:image" content="http://ladanzadelasfieras.com/img/og_image.png"/>
  <meta property="og:locale" content="es_MX" />
  <meta property="og:locale:alternate" content="es_ES" />

  <link rel="apple-touch-icon-precomposed" sizes="57x57" href="{{ site.baseurl }}img/favicons/apple-touch-icon-57x57.png" />
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{ site.baseurl }}img/favicons/apple-touch-icon-114x114.png" />
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ site.baseurl }}img/favicons/apple-touch-icon-72x72.png" />
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ site.baseurl }}img/favicons/apple-touch-icon-144x144.png" />
  <link rel="apple-touch-icon-precomposed" sizes="60x60" href="{{ site.baseurl }}img/favicons/apple-touch-icon-60x60.png" />
  <link rel="apple-touch-icon-precomposed" sizes="120x120" href="{{ site.baseurl }}img/favicons/apple-touch-icon-120x120.png" />
  <link rel="apple-touch-icon-precomposed" sizes="76x76" href="{{ site.baseurl }}img/favicons/apple-touch-icon-76x76.png" />
  <link rel="apple-touch-icon-precomposed" sizes="152x152" href="{{ site.baseurl }}img/favicons/apple-touch-icon-152x152.png" />
  <link rel="icon" type="image/png" href="{{ site.baseurl }}img/favicons/favicon-196x196.png" sizes="196x196" />
  <link rel="icon" type="image/png" href="{{ site.baseurl }}img/favicons/favicon-96x96.png" sizes="96x96" />
  <link rel="icon" type="image/png" href="{{ site.baseurl }}img/favicons/favicon-32x32.png" sizes="32x32" />
  <link rel="icon" type="image/png" href="{{ site.baseurl }}img/favicons/favicon-16x16.png" sizes="16x16" />
  <link rel="icon" type="image/png" href="{{ site.baseurl }}img/favicons/favicon-128.png" sizes="128x128" />
  <meta name="application-name" content="La Danza de las Fieras"/>
  <meta name="msapplication-TileColor" content="#000000" />
  <meta name="msapplication-TileImage" content="{{ site.baseurl }}img/favicons/mstile-144x144.png" />
  <meta name="msapplication-square70x70logo" content="{{ site.baseurl }}img/favicons/mstile-70x70.png" />
  <meta name="msapplication-square150x150logo" content="{{ site.baseurl }}img/favicons/mstile-150x150.png" />
  <meta name="msapplication-wide310x150logo" content="{{ site.baseurl }}img/favicons/mstile-310x150.png" />
  <meta name="msapplication-square310x310logo" content="{{ site.baseurl }}img/favicons/mstile-310x310.png" />
  <link rel="shortcut icon" href="{{site.baseurl}}favicon.ico" />

  <link rel="stylesheet" href="{{ site.baseurl }}css/main.css">

</head>
