<nav>
  <ul>
    <li>
        <a {% if page.title == 'La Danza de las Fieras' %} class= "active" {% endif %} href="/">Inicio</a>
    </li>
     <li>
         <a {% if page.title == 'Proyecto' %} class= "active" {% endif %} href="/proyecto/">Proyecto</a>
     </li>
     <li>
         <a {% if page.title == 'Cortometrajes' %} class= "active" {% endif %} href="/cortometrajes/">Cortometrajes</a>
     </li>
     <li>
         <a {% if page.title == 'Productoras' %} class= "active" {% endif %} href="/productoras/">Productoras</a>
     </li>
     <li>
         <a {% if page.title == 'Noticias' %} class= "active" {% endif %} href="/noticias/">Noticias</a>
     </li>
  </ul>
</nav>
<div class="social_nav">
  <a href="{{site.facebook}}" target="_blank">
    <div class="social-link facebook">{% include icons/facebook.html %}</div>
  </a>
  <a href="{{site.imdb}}" target="_blank">
    <div class="social-link imdb">{% include icons/imdb.html %}</div>
  </a>
</div>
