@media (max-width:1280px) {
  section{
    min-height:100vh;
  }
}

@media (max-width:900px) {
  #logo{
    margin-top:10%;
  }
  .corto-half{
    width:100%;
  }
  .director-card{
    width:100%;
  }
  form{
    width:100%;
  }
  .redfooter{
    width:100%;
    margin-top: 10%;
  }
}

@media (max-width:750px) {
  #logo{
    width:100%;
  }
  #producer_list{
    width:100%;
    li{
      width:100%;
    }
  }
  .menubutton{
    display:inline-block;
  }
  .navigation_ul{
    transform: translateX(-100%);
    background-color: $red;
    position: absolute;
    min-height: 100vh;
    top: 0;
    bottom:0;
    padding: 10%;
    box-sizing: border-box;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    li{
      clear: both;
      width: 100%;
      padding: 5%;
      text-align: center;
      a{
        padding: 5% 15% 5% 15%;
      }
    }
  }
  .openmenu{
    transform: translateX(0%);
  }
}
